<article class='about'>
  <h2>Hello</h2>
  <p>I'm Roberto Thais. I built VoucherScout because I wanted to redeem the free ticket vouchers I got from Ticketmaster and found their website hard to use.</p>

  <h2>Free Tickets?</h2>
  <p>
    You can read all about it <a href='http://www.nytimes.com/2016/06/22/business/media/ticketmaster-lawsuit-vouchers.html' target='_blank'>here</a> and <a href='http://www.ticketfeelitigation.com/faq' target='_blank'>here</a>.
  </p>
  <p>In summary, Ticketmaster lost a class action lawsuit and is giving away vouchers redeemable for free General Admission tickets as part of compensation.</p>
  <p>If you've used Ticketmaster in recent years, you probably have vouchers sitting in your account. Check how many <a href='https://www.ticketmaster.com/member/vouchers' target="_blank">here</a>. Close to 57 million people have received at least one. Some have gotten up to 17.

  <p>The catch is that they are only good for certain shows. Ticketmaster has published an official list of <a href='http://concerts.livenation.com/microsite/settlement#colMainWrap' target='_blank'>eligible events</a> for which the vouchers are valid.
  <p>New shows are constantly being added.</p>
  </p>

  <h2>Why use this website?</h2>
  <p>Ticketmaster's list is hard to browse, not very fast and it doesn't work well on mobile.</p>
  <p>We take the information available on Ticketmaster's list and present it in a cleaner way. We make it easy for you to find shows you care about so you can go for free.</p>
  <p>VoucherScout is constantly being updated with new eligible shows.</p>


  <h5>Legal</h5>
  <p><small>VoucherScout is not affiliated with Ticketmaster, and Ticketmaster hasn't supplied, reviewed, approved or endorsed VoucherScout. VoucherScout is a compilation of event information that has been prepared by me (Roberto Thais). While VoucherScout makes the best effort to provide up to date and accurate information, the listings here should be considered unofficial.</small></p>

</article>